<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!-- 
        Working mode can be, "ClassLibrary" or "WCF".
        ClassLibrary: "End-Point & CacheItem Strings", "Typed Dataset Generation" tabs and some options are invisible. 
        WCF: All tabs and options are visible
    -->
    <add key="WorkingMode" value="ClassLibrary"/>

  </appSettings>
</configuration>
